---

---
<div class="relative">
    <!--<img class="fixed top-0 left-0 z-[-1] h-screen w-screen -scale-x-150 object-cover bg-black" src="/background.jpg" alt="Background">-->
    <video autoplay loop src="/background-video.mp4" class="fixed top-0 left-0 -z-2 h-screen w-screen object-cover filter brightness-50"/>
    <div class="fixed top-0 left-0 h-full w-full bg-[rgb(0,0,0,0.5)] -z-1"></div>
</div>

