---

---


<footer class="bg-[var(--main-orange)] text-gray-800 py-8">
    <div class="max-w-7xl mx-auto px-6 md:px-12 grid grid-cols-1 md:grid-cols-4 gap-8">
        
        <div>
            <h2 class="text-xl font-semibold">javsan.dev</h2>
        </div>

        <div>
            <h3 class="text-lg font-medium">Links</h3>
            <ul class="mt-2 space-y-2">
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-medium">Legal</h3>
            <ul class="mt-2 space-y-2">
                <li><a href="/privacy_policy" class="hover:underline">Privacy policy</a></li>
                <li><a href="/terms_of_service" class="hover:underline">Terms of service</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-medium">Who am I?</h3>
            <ul class="mt-2 space-y-2">
              <li><a href="mailto:javier.jsm21@gmail.com" class="hover:underline">Contact me</a></li>
              <li><a href="https://github.com/javsanmar5" class="hover:underline">Github</a></li>
            </ul>
        </div>
        
    </div>

    <div class="text-center mt-8 text-sm border-t border-gray-400 pt-4">
        &copy; 2025 Infantem. Todos los derechos reservados.
    </div>
</footer>
