---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<section class="m-30">
    {projects.map((project) => { 
    const { name } = project.data;
    return <h2>{name}</h2>
    })}

</section>

