---
import "../styles/global.css";
import BackgroundImage from "../components/BackgroundImage.astro";
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">	<meta name="generator" content={Astro.generator} />
		<title>javsan.dev</title>
	</head>
	<body>
        <Navbar />
        <main>
            <slot />
            <BackgroundImage />
        <main />
	</body>
</html>

